.prev-searches {
    display: block;
    height: fit-content;

    h2 {
        color: var(--text-color);
        font-weight: var(--font-weight-h2);
        font-size: var(--font-size-h2);
        margin-bottom: var(--margin-bottom-h2);
    }

    .prev-searches-container {
        .search-item {
            background-color: var(--primary-color-pink);
            display: inline-block;
            padding: .5em 1em;
            margin: 0 1em 1em 0;
            color: var(--text-white);
            border-radius: 30px;
            box-shadow: 0 3px 6px var(--shadow-color);
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.5s) slideInRight forwards;
        }

    }

    .search-box {
        display: flex;
        align-items: center;
        height: 35px;
        justify-content: flex-end;

        input,
        .btn {
            height: 100%;
        }

        .btn {
            border-radius: 0 5px 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-block: 0;
            padding-inline: .75em;
            cursor: pointer;
        }

        input {
            min-width: 250px;
            padding: 0 .5em;
            border-radius: 5px 0 0 5px;
            outline: none;
            border: 1px solid #4d4d4d;
        }
    }
}