*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    padding-inline: 15vw;
}
.main{
    padding-block: 3vw;
}