.designsCards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1.5em;

    .card {
        position: relative;
        box-shadow: var(--shadow-color);

        .design-card-info {
            .author-img {
                position: absolute;
                height: 3.5rem;
                width: 3.5rem;
                margin-top: -1.8rem;
                right: 70%;
                border: 2px solid var(--background-light);
                box-shadow: 0 1px 3px var(--shadow-color);
                border-radius: 50%;
                object-fit: cover;
                z-index: 10;
            }

            .design-title {
                margin: 2em auto .5em auto;
                font-size: 1.25em;
                font-weight: bold;
                color: var(--text-color);
            }

            .design-description {
                color: var(--text-light);
                font-size: .9em;
                letter-spacing: 1px;
                height: 3rem;
            }
        }


    }
}

@media screen and (max-width: 1500px) {
    .main section.prev-searches {
        height: fit-content;
    }
}