.primaryColor-pink {
    --primary-color: rgba(255, 0, 86);
}

.primaryColor-blue {
    --primary-color: rgba(33, 150, 233);
}

.primaryColor-orange {
    --primary-color: rgba(255, 193, 7);

}

.primaryColor-green {
    --primary-color: rgba(0, 200, 83);

}

.primaryColor-purple {
    --primary-color: rgba(156, 39, 176);

}