:root {
    // initial settings


    --background-color: #fff;
    --background-light: #fff;
    --background-dark: #000;
    --background-dark-2: rgba(29, 29, 29);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --overlay-color: rgba(0, 0, 0, 0.2);
    --background-shadow-color: rgba(0, 0, 0, 0.05);

    --primary-color: rgba(255, 0, 86);

    --text-color: #0A0A0A;
    --text-light: #575757;
    --text-white: #fff;
    --font-size: 16px;

    --animation-speed: 1;


    //colors
    --primary-color-pink: rgba(255, 0, 86);
    --primary-color-blue: rgba(33, 150, 233);
    --primary-color-orange: rgba(255, 193, 7);
    --primary-color-green: rgba(0, 200, 83);
    --primary-color-purple: rgba(156, 39, 176);

    --complementary-to-pink: #00FFA9;
    // --complementary-to-blue:
    // --complementary-to-orange:
    // --complementary-to-green:
    // --complementary-to-purple:


    //simple text
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 20px;

    // titles
    --font-size-h2: 1.5em;
    --font-wight-h2: 900;
    --margin-bottom-h2: .5em;

    // buttons
    --font-size-btn: 1.1em;

    // borders 
    --border-radius-small: 3px;
    --border-radius-medium: 5px;

    // socials
    --facebook-color: #0063f7;
    --tweeter-color: #13b4ff;
    --instagram-color: #ff0056;
}